.home-block {
  text-align: center;
  margin: 0 auto;

  .title {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 1.5rem;
    background-color: #2F808E ; /* Fond vert d'eau */
    padding: 0.5rem; /* Espacement interne pour aérer le texte */
    border-radius: 8px; /* Coins arrondis */
    display: inline-block; /* Pour ajuster la largeur à celle du texte */
    font-weight: 300;
  }

  .stats-container {
    display: flex;
    justify-content: center; /* Centre les blocs horizontalement */
    gap: 3rem; /* Espace entre les deux blocs */
    margin-bottom: 2rem;

    .stat-block {
      display: flex;
      flex-direction: column; /* Aligne le titre et la valeur verticalement */
      align-items: center; /* Centre les éléments horizontalement */
      border: 2px solid #2F808E ; /* Bordure vert d'eau */
      border-radius: 8px; /* Coins arrondis */
      padding: 0.5rem; /* Espacement interne pour aérer le contenu */
    }

    .stat-title {
      font-size: 1rem;
      font-weight: 300;
      color: #555;
      margin-bottom: 0.25rem; /* Espacement entre le titre et la valeur */
      margin-top: 0
    }

    .stat-value {
      font-size: 1rem;
      font-weight: bold;
      margin-top: 0.25rem;
      margin-bottom: 0;
    }
  }

  .chart-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }

  .btn-back {
    display: inline-block; /* Pour que le lien ressemble à un bouton */
    padding: 0.5rem 1rem; /* Espacement interne */
    font-size: 1rem; /* Taille du texte */
    font-weight: 300; /* Police légère */
    text-align: center; /* Centrer le texte */
    color: white; /* Couleur du texte */
    background-color: #2F808E; /* Fond vert d'eau */
    border: 2px solid #2F808E; /* Bordure de la même couleur que le fond */
    border-radius: 8px; /* Coins arrondis */
    text-decoration: none; /* Supprime le soulignement */
    transition: background-color 0.3s ease, color 0.3s ease; /* Animation douce pour le hover */
  }

  .btn-back:hover {
    background-color: white; /* Change le fond en blanc */
    color: #2F808E; /* Change la couleur du texte en vert d'eau */
  }

  .btn-back:active {
    background-color: #1F5A60; /* Couleur légèrement plus sombre au clic */
    border-color: #1F5A60; /* Assure la cohérence avec la couleur de fond */
  }

}
