<div class="home-block">
  <div *ngIf="olympics$ | async as olympic;" class="stats-container">
    <h1 class="title">{{ olympic.country }}</h1>
  </div>
  <div *ngIf="olympics$ | async as olympic; else noData" class="stats-container">
  <div class="stat-block">
    <h2 class="stat-title">Number of entries</h2>
    <p class="stat-value">{{ olympic.participations.length }}</p>
  </div>
  <div class="stat-block">
    <h2 class="stat-title">Total number medals</h2>
    <p class="stat-value">{{ totalMedals }}</p>
  </div>
  <div class="stat-block">
    <h2 class="stat-title">Total number of athletes</h2>
    <p class="stat-value">{{ totalAthletes }}</p>
  </div>
</div>

<div *ngIf="lineChartData.length > 0" class="chart-container">
  <ngx-charts-line-chart
  [view]="lineChartView"
  [showXAxisLabel]="showXAxisLabel"
  [xAxis]="xAxis"
  [yAxis]="yAxis"
  [xAxisLabel]="xAxisLabel"
  [timeline]="timeline"
  [results]="lineChartData"
    >
  </ngx-charts-line-chart>
</div>
<a routerLink="" class="btn-back">Go back</a>


<ng-template #noData>
  <h1>No data available</h1>
  <p>The URL you entered does not correspond to any Olympic data.</p>
</ng-template>
</div>
