<div class="main-block">
  <h1 class="title">Medals per country</h1>

  <div *ngIf="olympics" class="stats-container">
    <div class="stat-block">
      <h2 class="stat-title">Number of JOs</h2>
      <p class="stat-value">{{ totalYears }}</p>
    </div>
    <div class="stat-block">
      <h2 class="stat-title">Number of countries</h2>
      <p class="stat-value">{{ olympics.length }}</p>
    </div>
  </div>

  <div *ngIf="pieChartData.length > 0" class="chart-pie-container">
    <ngx-charts-pie-chart
      [results]="pieChartData"
      [labels]="true"
      (select)="onSelect($event)">
      <ng-template #tooltipTemplate let-model="model">
        <div ngx-tooltip>
          <p>{{ model.name }}</p>
          <p>{{ model.value }} <i class="fa fa-medal"></i></p>
        </div>
      </ng-template>
    </ngx-charts-pie-chart>
  </div>
</div>
