<div class="home-block">
  <h1 class="title">Medals per country</h1>

  <div *ngIf="olympics$ | async as olympic;" class="stats-container">
    <div class="stat-block">
      <h2 class="stat-title">Number of JOs</h2>
      <p class="stat-value">{{ totalYears }}</p>
    </div>
    <div class="stat-block">
      <h2 class="stat-title">Number of countries</h2>
      <p class="stat-value">{{ olympic.length }}</p>
    </div>
  </div>

  <div *ngIf="pieChartData.length > 0" class="chart-container">
    <ngx-charts-pie-chart
      [results]="pieChartData"
      [labels]="true"
      (select)="onSelect($event)">
    </ngx-charts-pie-chart>
  </div>
</div>
